Dockerfile
docker-compose.yml
images/

# db
db/

# backend
__init__.py
__pycache__/
asgi.py
db.sqlite3
manage.py
media/
migrations/
requirements.txt
settings.py
urls.py
wsgi.py

# frontend
.babelrc
jest.config.js
nuxt.config.js
package.json
yarn.lock
# dependencies
node_modules/
package-lock.json
# logs
/backend/logs/
npm-debug.log
yarn-error.log
# other
.nuxt
dist
.vscode
.idea
newrelic_agent.log
.DS_STORE
.editorconfig
.eslintrc
README.md
# docs
/docs
# @nuxtjs/pwa
sw.*